@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Steercar is a car rental and booking website designed for renting cars for self drive purposes.
    Renting out cars for short durations to drive around all of Melbourne city and council areas.
    We have car pick up points for the range of automobiles that are offered on the website. A
    customer has their own accounts wherein they must provide their details such as name, email
    address, phone number, home address and license number. A customer rent a car and return a
    car that has been rented. Steercar offers a comprehensive range of new and late model vehicles
    to suit all budgets and size requirements, from small compact cars through to larger sedans,
    wagons, 4WD’s, and 8-seater people movers. A customer can book a car for a few hours or for
    a week. We take care of our customers, by providing them the best of what car rental services
    can provide. All services and extra charges for the car such as fuel are included in the price of
    the car being rented.
</p>
<p>Come Ride, Steer, Drive Steercar</p>
