@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>STEERCAR</h1>
    <p class="lead">
        Steercar is a car rental and booking website designed for renting cars for self drive purposes.
        Renting out cars for short durations to drive around all of Melbourne city and council areas.
        We have car pick up points for the range of automobiles that are offered on the website.
    </p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<!--<div id="map" style='width: 400px; height: 300px;'></div>
<script>
    mapboxg1.accesstoken = "pk.eyJ1IjoicmlzaGFiaDE3IiwiYSI6ImNrMHlueHIyeDAzNzQzZ3E0cHcyYW9ocXgifQ.odIjGmSyZSfSkPbJOsF0hQ";
    var map = new mapboxg1.map({
        container: 'map';
        style: 'mapbox://styles/mapbox/streets-v10'
    });
</script>-->

<div class="input-group date" data-provide="datepicker">
    <input type="text" class="form-control" value="20/08/2019">
    <div class="input-group-addon">
        <span class="glyphicon glyphicon-th"></span>
    </div>
</div>


<div class="row">
    <div class="col-md-4">
        <h2>Our Customer</h2>
        <p>
            A customer has their own accounts wherein they must provide their details such as name, email
            address, phone number, home address and license number. A customer rent a car and return a
            car that has been rented. Steercar offers a comprehensive range of new and late model vehicles
            to suit all budgets and size requirements, from small compact cars through to larger sedans,
            wagons, 4WD’s, and 8-seater people movers. A customer can book a car for a few hours or for
            a week.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>We take care</h2>
        <p>
            We take care of our customers, by providing them the best of what car rental services
            can provide. All services and extra charges for the car such as fuel are included in the price of
            the car being rented.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Book a Car</h2>
        <p>You can easily steer your self to booka car from our website. Let us show you more.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>